

/* Por tanto el ancho del form: 
ancho de la ventana (body) − 16px (margin por defecto, 8 + 8) − 80px (40px de margin y 20px de padding). 
En una ventana de 1000px, el form mediría unos 904px en total */
*{
    font-family: Verdana;
}

form {
  background-color: #f2f6fc;
  border: 2px solid #3b5b92;
  margin: 40px;     /* separación por fuera */
  padding: 20px;    /* separación por dentro (shorthand) */
  
}

form h2, textarea {
  color: #3b5b92;
  margin-top: 0;
  border-bottom: 1px solid #3b5b92;
}


textarea {
  resize: none; /* Para que sea fijo el textarea */
  height: 100px;
  padding: 8px; /* Separacion dentro del textarea */
}

/* Separación dentro del input de horas */
#horas {
  padding: 8px;
}